.img {
    width: 75%;
    height: 200px;
}

.panelSeparacion {
    height: 100%;
    width: 100%;
    margin-top: 50px;
    color:white;
    background-color: black;
    font-family: Ubuntu,sans-serif;
}

.panelInformacion {
    height: 100%;
    width: 40%;
    color: white;
}

div#descripcion1 {
    position: -webkit-sticky;
    margin-left: 20px;
    width: 500px;
    padding-top: 40px;
}

div#descripcion2 {
    float: right;
    width: 500px;
    background-color: black;
}

a {
    color: white;
    background-color: #852525;
    border: 2px solid white;
}

.panelCircular {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 270px;
    border-radius: 100%;
}

.panelCircular > .imagenCircular {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.banner {
    height: 300px;
    width: 70%;
    border: 2px solid black ;
    margin: auto;
    margin-top: 40px;
    animation: banner 20s infinite;
    background-size: 100% 100%;
}

@keyframes banner {
    0%, 30% {
        background-image: url("../img/banner1.jpg");
        opacity: 1;
    }
    31%, 34% {
        opacity: 0.1;
    }

    35%, 65% {
        background-image: url("../img/banner2.jpg");
        opacity: 1;
    }

    66%, 69% {
        opacity: 0.1;
    }

    70%, 100% {
        background-image: url("../img/banner3.jpg");
        opacity: 1;
    }
}


