<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.ElementoMapper">
    <select parameterType="map" id="consultarElemento" resultMap="ResultadoElemento" >
        select
            c.idElemento,
            c.idEquipo,
            c.tipo,
            c.nombre,
            c.descripcion
        FROM Elemento as c
    </select>

    <select parameterType="map" id="consultarElementoDisponible" resultMap="ResultadoNuevoElemento" >
        select
            c.idElemento,
            c.idEquipo,
            c.tipo,
            c.nombre,
            c.descripcion
        FROM Elemento as c WHERE c.idEquipo = 0
    </select>

    <insert id="registrarElemento" parameterType="map">
        INSERT INTO Elemento(tipo,nombre,descripcion) VALUES(#{Elemento.tipo}, #{Elemento.nombre} , #{Elemento.descripción});
    </insert>

    <update id="asociarEquipo" parameterMap="map">
        UPDATE Elemento SET idEquipo=#{idEquipo} WHERE Elemento.idEquipo= 0; /*NO SABEMOS SI ESTA BIEN xd*//*Queremos asociar el 0 por el id del equipo el cual va a tomar el elemento*/
    </update>

    <resultMap id="Elemento" type="ResultadoElemento">
        <id property="idElemento" column="idElemento"/>
        <result property="idEquipo" column="idEquipo"/>
        <result property="tipo" column="tipo"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
    </resultMap>

</mapper>