<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.ElementoMapper">
    <select parameterType="map" id="consultarElemento" resultMap="ResultadoElemento" >
        select

            c.idElemento,
            c.idEquipo,
            c.tipo,
            c.nombre,
            c.descripcion
        FROM Elemento as c
    </select>
    <resultMap id="Elemento" type="ResultadoElemento">
        <id property="idElemento" column="idElemento"/>
        <result property="idEquipo" column="idEquipo"/>
        <result property="tipo" column="tipo"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
    </resultMap>
    <insert id="registrarElemento" parameterType="map">
        INSERT INTO Elemento VALUES(#{Elemento.tipo}, #{Elemento.nombre} , #{Elemento.descripción});
    </insert>
</mapper>