<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.UsuarioMapper">
    <resultMap id="UsuarioResult" type="Usuario" >
        <id property="idUsuario" column="idUsuario"/>
        <result property="estado" column="estado" />
        <result property="nombre" column="nombre" />
        <result property="correo" column="correo" />
        <result property="contraseña" column="contraseña" />
        <result property="rol" column="rol" />
    </resultMap>
</mapper>
